<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--Testing-->
    <!--<add key="APIList_SP" value="pGetSAP_Order_Track_Schedule2" />
    <add key="Update_SP" value="pUpdateSAP_Order_Track_Schedule" />
    <add key="Safexpress_BaseAddress" value="http://proton.safexpress.com//safexapi//"/>
    <add key="FilepathPODImage" value="\\172.16.1.65\\PODImages\\" />
    <add key="ErrorLogFile" value="D:\\LConnect_Logs" />
    <add key="DTDCFTPPath" value="ftp://43.246.137.41:108//" />
    <add key="DTDCFTPFolderName" value="RMCLftp/" />
    <add key="DTDCFTPUsername" value="dtdc" />
    <add key="DTDCFTPPassword" value="dtdc2021" />


    <add key="GatiUrl" value="https://justi.gati.com/webservices/GatiKWEDktTrack.jsp?p1={0}&amp;p2=1E5905C1E15EDCAF" />
    <add key="SafeExpressUrl" value="http://webs.safexpress.com:8081/RestXmlPODStatus/webresources/podstatus?waybill={0}" />
    <add key="ARCUrl" value="https://www.arcfms.in/tracking/wbtrackingpodurl.php?wbno={0}&amp;key=wy9B4Zby6G" />
    --><!--<add key="SeenivasacoUrl" value="http://sreenivasandco.com/xml.php?p1={0}&amp;p2=dfsdf" />--><!--
    <add key="SeenivasacoUrl" value="https://sreenivasandco.com/xml.php?p1={0}&amp;p2=dfsdf&amp;year={1}" />
    <add key="DTDCUrl" value="https://blktracksvc.dtdc.com/dtdc-api/rest/JSONCnTrk/getTrackDetails" />-->
    
  
    <!--Live-->
    <add key="APIList_SP" value="pGetSAP_Order_Track_Schedule1" />
    <add key="Update_SP" value="pUpdateSAP_Order_Track_Schedule" />
    <add key="Safexpress_BaseAddress" value="http://proton.safexpress.com//safexapi//" />
    <add key="FilepathPODImage" value="\\172.16.1.65\\PODImages\\" />
    <add key="ErrorLogFile" value="D:\\LConnect_Logs" />
    <add key="DTDCFTPPath" value="ftp://192.168.21.29//" />
    <add key="DTDCFTPFolderName" value="RMCLftp/" />
    <add key="DTDCFTPUsername" value="dtdc" />
    <add key="DTDCFTPPassword" value="dtdc2021" />
    <!--<add key="DTDCFTPPathBLR" value="ftp://43.246.137.41:108//" />-->
    <add key="DTDCFTPPathBLR" value="ftp://192.168.21.29//" />
    <add key="DTDCFTPFolderNameBLR" value="RMCLBLRDTDC/" />
    <add key="DTDCFTPUsernameBLR" value="BLRDTDC" />
    <add key="DTDCFTPPasswordBLR" value="Dtdc@2023" />

	  <!--<add key="DTDCFTPPathBLR" value="ftp://172.16.1.129//" />
    <add key="DTDCFTPFolderNameBLR" value="RMCLBLR1/" />
    <add key="DTDCFTPUsernameBLR" value="RMCLBLR1" />
    <add key="DTDCFTPPasswordBLR" value="roots@123" />-->


    <add key="GatiUrl" value="https://justi.gati.com/webservices/GatiKWEDktTrack.jsp?p1={0}&amp;p2=1E5905C1E15EDCAF" />
    <add key="SafeExpressUrl" value="http://webs.safexpress.com:8081/RestXmlPODStatus/webresources/podstatus?waybill={0}" />
    <add key="ARCUrl" value="https://www.arcfms.in/tracking/wbtrackingpodurl.php?wbno={0}&amp;key=wy9B4Zby6G" />
    <!--<add key="SeenivasacoUrl" value="http://sreenivasandco.com/xml.php?p1={0}&amp;p2=dfsdf" />-->
    <add key="SeenivasacoUrl" value="https://sreenivasandco.com/xml.php?company_id=7&amp;p1={0}&amp;p2=dfsdf&amp;year={1}" />
    <add key="DTDCUrl" value="https://blktracksvc.dtdc.com/dtdc-api/rest/JSONCnTrk/getTrackDetails" />
	  <!--<add key="ProfessionalUrl" value="https://www.tpcglobe.com/TPCWebService/tracktracejsontest.ashx?podno={0}&amp;client={1}&amp;tpcpwd={2}" />-->
    <add key="ProfessionalUrl" value="https://www.tpcglobe.com/TPCWebService/tracktracejson.ashx?podno={0}&amp;client={1}&amp;tpcpwd={2}" />
    <add key="ProfessionalImageUrl" value="https://www.tpcglobe.com/TPCWebService/DrsImage.aspx?podno={0}&amp;client={1}&amp;tpcpwd={2}" />

    <add key="TPCUsernameBLR" value="HRD042" />
    <add key="TPCFTPPasswordBLR" value="Dtdc@2023" />
    <add key="TPCUsername" value="pol532" />
    <add key="TPCFTPPassword" value="tts@2023" />
	  
	  
	  
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.16.1.64;Initial Catalog=LogisticConnect;User ID=dotnet;password=Roots@$123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
     <globalization culture="en-GB" />
   </system.web>
  <!--Install-Package Microsoft.AspNet.WebApi.Client -Version 4.0.20710
  Install-Package System.Net.Http.Json -Version 5.0.0
  Install-Package Newtonsoft.Json -Version 13.0.1-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
